<div>
  <label for="timerInput">Timer interval (ms):</label>
  <input type="number" id="timerInput" (change)="onSettingsChange(timerInput.value,arraySizeInput.value)" #timerInput>

  <label for="arraySizeInput">Array size:</label>
  <input type="number" id="arraySizeInput" (change)="onSettingsChange(timerInput.value, arraySizeInput.value)" #arraySizeInput>
</div>
<!-- Custom IDs input fields for the first elements -->
<div *ngFor="let id of customIds; let i = index">
  <label for="customId-{{i}}">Custom ID {{i + 1}}:</label>
  <input type="text" id="customId-{{i}}" [(ngModel)]="customIds[i]" (change)="updateCustomIds()">
</div>
